.tree{
  z-index: 2;
}

.top {
  width: 100vw;
  height:10vh;
  background-color: white;
  position: absolute;
  top: 9vh;
  left: 0px;
  z-index: 0;
}

.bottom {
  width: 100vw;
  height:10vh;
  background-color: white;
  position: absolute;
  top: 88vh;
  left: 0px;
  z-index: 4;
}

.right {
  width: 10vw;
  height:100vh;
  background-color: white;
  position: absolute;
  top: 10vh;
  left: 85vw;
  z-index: 1;
}

.left {
  padding-top: 0;
  width: 10vw;
  height:100vh;
  background-color: white;
  position: absolute;
  top: 10vh;
  left: 5vw;
  z-index: 1;
}