footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transform: translate(0vw, 89vh);
}

p{
  color: #274C77;
}

.sashimi{
  position: absolute;
  top: 28vh;
  left: 25vw;
  clip-path: circle(40%);
}

.stirfry{
  position: absolute;
  top: 24vh;
  left: 20vw;
  clip-path: circle(40%);
}
.veggies{
  position: absolute;
  top: 60vh;
  left: 58vw;
  clip-path: circle(40%);
}


.contact::before{
  position: absolute;
  top: 0;
  right:0;
  content: "";
  height: 45px;
  width: 2px;
  background: #274C77;
  -webkit-transform: translate(-20vw, 40px);
}

.footerContainer{
  margin-top: -3vh;
  justify-content: space-between;
  display: flex;
  width: 40vw;
}

.tree{
  z-index: 2;
}

.top {
  width: 100vw;
  height:10vh;
  background-color: white;
  position: absolute;
  top: 9vh;
  left: 0px;
  z-index: 0;
}

.bottom {
  width: 100vw;
  height:10vh;
  background-color: white;
  position: absolute;
  top: 88vh;
  left: 0px;
  z-index: 4;
}

.right {
  width: 10vw;
  height:100vh;
  background-color: white;
  position: absolute;
  top: 10vh;
  left: 85vw;
  z-index: 1;
}

.left {
  padding-top: 0;
  width: 10vw;
  height:100vh;
  background-color: white;
  position: absolute;
  top: 10vh;
  left: 5vw;
  z-index: 1;
}